{% for block in section.blocks %}
  {% case block.type %}
    {% when "feature" %}
      <div class="vc_feature vc_feature--type-{{- block.settings.type }}" {{ block.shopify_attributes }}>
        <div class="vc_feature_figures">
          {% case block.settings.type %}
            {% when "1" %}
              <div class="vc_feature_figure triangle-top-left-1"></div>
              <div class="vc_feature_figure triangle-top-left-2"></div>
            {% when "2" %}
              <div class="vc_feature_figure triangle-bottom-right"></div>
          {% endcase %}
        </div>

        <div class="vc_feature__content">
          {% if forloop.index < 10 %}
            <div class="vc_feature__num halved__num" data-letters="0{{- forloop.index -}}">0{{- forloop.index -}}</div>
          {% else %}
            <div class="vc_feature__num halved__num" data-letters="{{- forloop.index -}}">{{- forloop.index -}}</div>
          {% endif %}
          <div class="vc_feature__title">{{ block.settings.title }}</div>
          <div class="vc_feature__text">{{ block.settings.text }}</div>
        </div>
        {% if block.settings.image_main != blank %}
          <div class="vc_feature__image">{{ block.settings.image_main | image_url: width: 1100 | image_tag }}</div>
        {% endif %}
      </div>
    {% when "feature_width_steps" %}
      <div class="vc_feature vc_feature--type-3" {{ block.shopify_attributes }}>
        <div class="vc_feature_figures">
          {% case block.settings.type %}
            {% when "1" %}
              <div class="vc_feature_figure triangle-top-left-1"></div>
              <div class="vc_feature_figure triangle-top-left-2"></div>
            {% when "2" %}
              <div class="vc_feature_figure triangle-bottom-right"></div>
          {% endcase %}
        </div>

        <div class="vc_feature__content">
          {% if forloop.index < 10 %}
            <div class="vc_feature__num halved__num" data-letters="0{{- forloop.index -}}">0{{- forloop.index -}}</div>
          {% else %}
            <div class="vc_feature__num halved__num" data-letters="{{- forloop.index -}}">{{- forloop.index -}}</div>
          {% endif %}
          <div class="vc_feature__title">{{ block.settings.title }}</div>
          <div class="vc_feature__text">{{ block.settings.text }}</div>
        </div>
        <div class="vc_feature__steps">
          <div class="vc_feature__step">
            {{ block.settings.step_1 | image_url: width: 300 | image_tag }}
          </div>
          <div class="vc_feature__step">
            {{ block.settings.step_2 | image_url: width: 300 | image_tag }}
          </div>
          <div class="vc_feature__step">
            {{ block.settings.step_3 | image_url: width: 300 | image_tag }}
          </div>
          <div class="vc_feature__step">
            {{ block.settings.step_4 | image_url: width: 300 | image_tag }}
          </div>
        </div>
      </div>
  {% endcase %}
{% endfor %}

{% schema %}
{
  "name": "Vaultcard features",
  "tag": "section",
  "class": "vc_features",
  "settings": [

  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "select",
          "id": "type",
          "label": "Type",
          "options": [
            {
              "value": "1",
              "label": "Type 1"
            },
            {
              "value": "2",
              "label": "Type 2"
            }
          ],
          "default": "1"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text content"
        },
        {
          "type": "image_picker",
          "id": "image_main",
          "label": "Image"
        }
      ]
    },
    {
      "type": "feature_width_steps",
      "name": "Feature width steps",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text content"
        },
        {
          "type": "header",
          "content": "Steps images"
        },
        {
          "type": "image_picker",
          "id": "step_1",
          "label": "Step 1"
        },
        {
          "type": "image_picker",
          "id": "step_2",
          "label": "Step 2"
        },
        {
          "type": "image_picker",
          "id": "step_3",
          "label": "Step 3"
        },
        {
          "type": "image_picker",
          "id": "step_4",
          "label": "Step 4"
        }
        
      ]
    }
  ]
}
{% endschema %}