{% stylesheet %}
  .vc_features {
    background-color: {{ section.settings.background }};
  
  }
{% endstylesheet %}
{% for block in section.blocks %}
  <div class="vc_feature vc_feature--type-{{- block.settings.type }}" {{ block.shopify_attributes }}>
    <div class="vc_feature__content">
      {% if forloop.index < 10 %}
        <div class="vc_feature__num halved__num" data-letters="0{{- forloop.index -}}">0{{- forloop.index -}}</div>
      {% else %}
        <div class="vc_feature__num halved__num" data-letters="{{- forloop.index -}}">{{- forloop.index -}}</div>
      {% endif %}
      <h2 class="vc_feature__title">{{ block.settings.title }}</h2>
      <div class="vc_feature__text">{{ block.settings.text }}</div>
    </div>
    <div class="vc_feature__image">{{ block.settings.image_main | image_url: width: 1100 | image_tag }}</div>
  </div>
{% endfor %}

{% schema %}
{
  "name": "Vaultcard features",
  "tag": "section",
  "class": "vc_features",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#161628"
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "select",
          "id": "type",
          "label": "Type",
          "options": [
            {
              "value": "1",
              "label": "Type 1"
            },
            {
              "value": "2",
              "label": "Type 2"
            }
          ],
          "default": "1"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text content"
        },
        {
          "type": "image_picker",
          "id": "image_main",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}