<div class="page-width">

{% for block in section.blocks %}
  {% case block.type %}
    {% when 'text' %}
      <div class="descr_content {% case block.settings.alignment %}{% when 'center' %}alignment_center{% when 'right' %}alignment_right{% endcase %}">
        {% if block.settings.text %}
          {{ block.settings.text }}
        {% endif %}
        {% if block.settings.image %}
          {{ block.settings.image | image_url: width: 1100 | image_tag }}
        {% endif %}
      </div>
    {% when 'two_column' %}
      <div class="two_column {% case block.settings.alignment %}{% when 'center' %}alignment_center{% when 'right' %}alignment_right{% endcase %}">
        <div class="column">
          {% if block.settings.column_1 %}
            {{ block.settings.column_1 }}
          {% endif %}
          {% if block.settings.image_1 %}
            {{ block.settings.image_1 | image_url: width: 520 | image_tag }}
          {% endif %}
        </div>
        <div class="column">
          {% if block.settings.column_2 %}
            {{ block.settings.column_2 }}
          {% endif %}
          {% if block.settings.image_2 %}
            {{ block.settings.image_2 | image_url: width: 520 | image_tag }}
          {% endif %}
        </div>
      </div>
    {% when 'table_row' %}
      <div class=" table_row {% if block.settings.row_type == 'header' %}table_row_header{% endif %}">
        <div class="table_cell_1">
          {{ block.settings.cell_1 }}
        </div>
        <div class="table_cell_2">
          {{ block.settings.cell_2 }}
        </div>
        <div class="table_cell_3">
          {{ block.settings.cell_3 }}
        </div>
        <div class="table_cell_4">
          {{ block.settings.cell_4 }}
        </div>
      </div>
  {% endcase %}
{% endfor %}

</div>

{% schema %}
{
  "name": "Vaultcard description",
  "tag": "section",
  "class": "vc_description tab_content",
  "settings": [],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left",
          "label": "Alignment"
        }
      ]
    },
    {
      "type": "two_column",
      "name": "Two-column",
      "settings": [
        {
          "type": "richtext",
          "id": "column_1",
          "label": "First column"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "First column image"
        },
        {
          "type": "richtext",
          "id": "column_2",
          "label": "Second column"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Second column image"
        },
        {
          "type": "select",
          "id": "alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left",
          "label": "Alignment"
        }
      ]
    },
    {
      "type": "table_row",
      "name": "Table row",
      "settings": [
        {
          "type": "select",
          "id": "row_type",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "header",
              "label": "Header"
            }
          ],
          "default": "default",
          "label": "Type"
        },
        {
          "type": "select",
          "id": "alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left",
          "label": "Alignment"
        },
        {
          "type": "richtext",
          "id": "cell_1",
          "label": "小ell 1"
        },
        {
          "type": "richtext",
          "id": "cell_2",
          "label": "小ell 2"
        },
        {
          "type": "richtext",
          "id": "cell_3",
          "label": "小ell 3"
        },
        {
          "type": "richtext",
          "id": "cell_4",
          "label": "小ell 4"
        }
      ]
    }
  ]
}
{% endschema %}