{% layout 'theme.victoria' %}
<!-- /templates/page.liquid -->
    <div class="features">
        <ul class="features-nav">
            <li class="features-nav-item">
                <a href="#" class="features-nav-link ui-link">
                    <span>
                        001<br>Meet VICTORIA
                        <span class="features-nav-progress"></span>
                    </span>
                </a>
            </li>
            <li class="features-nav-item">
                <a href="#" class="features-nav-link ui-link">
                    <span>
                        002<br>Fashionable
                        <span class="features-nav-progress"></span>
                    </span>
                </a>
            </li>
            <li class="features-nav-item">
                <a href="#" class="features-nav-link ui-link">
                    <span>
                        003<br>Convenience
                        <span class="features-nav-progress"></span>
                    </span>
                </a>
            </li>
            <li class="features-nav-item features-nav-item--active">
                <a href="#" class="features-nav-link ui-link">
                    <span>
                        004<br>Quality
                        <span class="features-nav-progress"></span>
                    </span>
                </a>
            </li>
            <li class="features-nav-item">
                <a href="#" class="features-nav-link ui-link">
                    <span>
                        005<br>Security
                        <span class="features-nav-progress"></span>
                    </span>
                </a>
            </li>
        </ul>
    
        <ul class="features-list">
            <li class="features-list-item features-list-item--0 features-list-item--video">
                <div class="feature">
                    <span class="feature-supheader">iPhone case and wallet</span>
    
                    <h1 class="feature-header">VICTORIA</h1>
    
                    <p class="feature-lead">The most stylish way to stay in touch, take pics or make<br> a payment. The VICTORIA holds your iPhone, cards, cash<br> and small items conveniently and securely while giving<br> you quick access to them whenever you need them.</p>
    
                    <a href="https://www.youtube.com/watch?v=1qC-B50A7Mk" class="feature-link ui-link" target="_blank">Watch full video</a>
    
                </div>
    
                <video class="feature-video" muted="" data-src="{{'v1.mp4' | file_url }}" poster="{{'iphone-wallet-case-strap-0.jpg' | file_url }}"><source src="{{'v1.mp4' | file_url }}"></video>
            </li>
            <li class="features-list-item features-list-item--1 features-list-item--video">
                <div class="feature">
    
                    <h2 class="feature-header">The ultimate<br>fashion accessory</h2>
    
                    <p class="feature-lead">A stylish, luxurious synergy of iPhone case and wallet.<br> How you wear it is up to you - hands-free across your<br> body, on your shoulder or elbow, or carry it in your hand.</p>
    
    
                </div>
    
                <video class="feature-video" muted="" data-src="{{'v2.mp4' | file_url }}" poster="{{'pouch-case-crossbody-1.jpg' | file_url }}"><source src="{{'v2.mp4' | file_url }}"></video>
            </li>
            <li class="features-list-item features-list-item--2 features-list-item--video">
                <div class="feature">
    
                    <h3 class="feature-header">Live life with your<br>phone by your side</h3>
    
                    <p class="feature-lead">Whatever you’re doing – coffee, meetings, working out,<br> shopping, cooking, dancing at a festival, travelling or<br> walking the dog – you won’t miss a thing. And there’s<br> space for cards and cash!</p>
    
    
                </div>
    
                <video class="feature-video" muted="" data-src="{{'v3.mp4' | file_url }}" poster="{{'woman-case-wallet-2.jpg' | file_url }}"><source src="{{'v3.mp4' | file_url }}"></video>
            </li>
            <li class="features-list-item features-list-item--3 features-list-item--video features-list-item--active">
                <div class="feature">
    
                    <h4 class="feature-header">A pleasure to use,<br>to wear and to hold</h4>
    
                    <p class="feature-lead">The most luxurious product of its kind, the VICTORIA<br> combines fashion and comfort with quality design,<br> craftmanship and materials.</p>
    
    
                </div>
    
                <video class="feature-video" muted="" data-src="{{'v4.mp4' | file_url }}" poster="{{'fashion-case-iphone-3.jpg' | file_url }}"><source src="{{'v4.mp4' | file_url }}"></video>
            </li>
            <li class="features-list-item features-list-item--4 features-list-item--video">
                <div class="feature">
    
                    <h5 class="feature-header">Peace of mind</h5>
    
                    <p class="feature-lead">Stylish and compact - look good while making sure<br> that you don’t misplace your phone or cards.</p>
    
    
                </div>
    
                <video class="feature-video" muted="" data-src="{{'v5.mp4' | file_url }}" poster="{{'wallet-case-fashion-strap-4.jpg' | file_url }}"><source src="{{'v5.mp4' | file_url }}"></video>
            </li>
        </ul>
    </div>

    <footer class="footer">
        <span>2018 © Vaultskin. All Rights Reserved
        		| We use cookies to make the site simpler. <a href="/policies/privacy-policy" target="_blank" class="ui-link">Read more here</a>
        </span>
    
        <a href="/collections/victoria-case" target="_blank" class="ui-link">Go to Vaultskin Homepage →</a>
    </footer>

    <div class="modal">
        <div class="modal-content">
            <a href="#" class="modal-close ui-link">Close [x]</a>
    
            <span data-video-url="https://streamable.com/s/7zlm0/nuzzlt"></span>
        </div>
    </div>

  {% comment %}
	<script src="{{'jquery-3.3.1.min.js' | asset_url }}" defer></script>
	<script src="{{'jquery-migrate-3.0.1.min.js' | asset_url }}"></script>
	<script src="{{'jquery.mobile-1.4.5.min.js' | asset_url }}"></script>    
  {% endcomment %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.min.js" defer></script>
	<script src="{{'index.js' | asset_url }}"></script>


<div class="ui-loader ui-corner-all ui-body-a ui-loader-default"><span class="ui-icon-loading"></span><div>loading</div></div>


